<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREE CRM Application Test Automation Suite">
	<listeners>
			<listener class-name="com.crm.qa.listeners.CRMTransformer"></listener>
			<listener class-name="com.crm.qa.listeners.ExtentReportListener"></listener>
	</listeners>
	<test name="Free CRM Test Cases">
		<classes>
			<class name="com.crm.qa.testcases.LoginPageTest"></class>
			<class name="com.crm.qa.testcases.HomePageTest"></class>
			<class name="com.crm.qa.testcases.HomePageCalenderMoveTest"></class>
		</classes>
	</test>
</suite>